<nav class="bg-dark navbar navbar-light bg-light justify-content-between">
  <h1 class="white navbar-brand px-4">Student Management</h1>
  <form class="form-inline">
    <div>
      <a
        class="white text-decoration-none he"
        routerLink=""
        routerLinkActive="active"
        >List Students</a
      >
      &nbsp;&nbsp;
      <a
        class="white px-3 text-decoration-none hf"
        routerLink="add"
        routerLinkActive="active"
        >Add Student</a
      >
    </div>
  </form>
</nav>
